.px-lg-6 {
    padding-right: 14rem !important;
    padding-left: 14rem !important;
}/* FOND HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ba
}

/* FOOTER */

 .p-10 {
    padding: 5rem;
 }

 .bg-gris {
    background-color: rgb(56, 55, 55);
 }